:root {
    --animation-duration: 1s;
    --animation-timing-function: ease-in-out;
  }
  
  .animated-section-right.in-view {
    animation: fadeInRight var(--animation-duration) var(--animation-timing-function);
  }

  .animated-section-left.in-view {
    animation: fadeInLeft var(--animation-duration) var(--animation-timing-function);
  }
  
  /* Styles for other sections and elements */
  .unlock, .achievements, .calender, .customers, .communityUpdate {
    margin-bottom: 2rem;
  }
  
  .unlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0.5rem 0;
  }
  
  .unlockImg img {
    width: 30rem;
    height: auto;
  }
  
  .unlockContent {
    width: 30rem;
    height: auto;
  }
  
  .unlockDescription h3 {
    font-size: 2.6rem;
    color: #4D4D4D;
  }
  
  .unlockDescription p {
    font-size: 1.1rem;
    color: #4D4D4D;
    opacity: 0.5;
  }
  
  .unlockBtn button {
    width: 12rem;
    height: 3rem;
    margin-top: 1rem;
    background: #4CAF4F;
    color: #FFF;
    border: none;
    font-size: 1.1rem;
    opacity: 0.9;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .unlockBtn button:hover {
    background-color: #45a049;
  }
  
  @media screen and (max-width: 800px) {
    .unlock {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0.5rem;
    }
  
    .unlockImg img {
      width: 25rem;
    }
  
    .unlockContent {
      width: 100%;
      margin: 2rem;
    }
  }
  
  /* Style for Achievement Section */
  .achievements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:3rem;
    align-items: center;
    background: #F5F7FA;
    min-height: 250px;
    margin-top: 2rem;
  }

  .sectionHeading h3 {
    font-size: 2.5rem;
  }

  .sectionHeading p {
    font-size: 1rem;
    margin-top:0.4rem;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding:0.5rem;
  }
  
  .row img {
    width: 2.5rem;
    height: auto;
  }
  
  .row h3 {
    font-size: 1.3rem;
    color: #4D4D4D;
  }
  
  .r1, .r2 {
    width: 12rem;
    height: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sectionHeading {
    font-weight: 20px;
    font-size: 25px;
    color: #4D4D4D;
  }
  
  .sectionHeading span {
    color: #4CAF4F;
  }
  
  /* Designing Calendar Section */
  .calender {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:2rem;
    align-items: center;
    min-height: 301.68px;
  }
  
  .lock img {
    width: 30rem;
    height: auto;
  }
  
  
  .lockContent {
    max-width: 41rem;
    height: auto;
  }
  
  .lockDescription h2 {
    color: #4D4D4D;
    font-size: 2.5rem;
  }
  
  .lockDescription p {
    color: #4D4D4D;
    font-size: 1.1rem;
    padding:0.9rem 0.1rem ;
    opacity:0.6;
  }
  
  .lockbtn button {
    background: #4CAF4F;
    width: 10rem;
    height: 3rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    color: #fff;
  }
  
  /* Designing Customers Section */
  .customers {
    background: #F5F7FA;
    margin: 2rem 0;
    min-height: 271.47px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
    padding:1.5rem;
  }
  
  .customerContent {
    max-width: 50rem;
  }

  .customerImg img {
    width: 18rem;
    height: auto;
  }
  
  
  .customerDescription p {
    color: #4D4D4D;
    font-size: 1.1rem;
    opacity:0.6;
  }
  
  .customerDescription h5 {
    color: #4CAF4F;
    font-size: 2rem;
    margin:0.5rem 0;
  }
  
  .customerLogo {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:2rem;
    align-items: center;
    margin: 1rem 0;
  }
  
  .customerLogo img {
    width: 34px;
    height: auto;
  }
  
  .customerLogo a {
    text-decoration: none;
    color: #4CAF4F;
    font-size: 1.4rem;
  }
  
  /* Designing Community Update part */
  .communityUpdate {
    min-height: 354.51px;
  }
  
  .communitybdy {
    text-align: center;
    margin: 2rem;
    color: #4D4D4D;
  }
  
  .communitybdy h3 {
    font-size: 2.5rem;
  }
  
  .communitybdy p {
    font-size: 1.1rem;
    margin:1rem 0;
  }
  
  .ctyframe {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:2rem;
  }
  
  .ctyframe img {
    width: 257px;
    height: auto;
  }
  
  .contentcard {
    width: 220.65px;
    min-height: 123.55px;
    background: #F5F7FA;
    border-radius: 0.5rem;
    padding: 0.1rem;
    margin: auto;
    position: relative;
    top: -8vh;
    box-shadow: 0px 3px 6px #E4EBF1;
    text-align: center;
  }
  
  .f {
    margin: 0 2vw;
  }
  
  .contentcard a {
    text-decoration: none;
    color: #4CAF4F;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 1200px) {
    .calender {
      flex-direction: column;
      padding: 0 5rem;
    }
  
    .lock img {
      width: 20rem;
    }
  
    .lockContent {
      width: 100%;
    }
  
    .customers {
      flex-direction: column;
      padding: 0 5rem;
    }
  
    .customerImg img {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 768px) {
  
    .sectionHeading {
      padding: 1rem;

    }
  
    .row {
      flex-direction: column;
      align-items: center;
    }
  
    .row img {
      margin-bottom: 1rem;
    }
  
    .calender {
      padding: 0 2rem;
    }
  
    .customers {
      padding: 0 2rem;
    }

    .ctyframe {
      gap:0.5rem;
    }
    
    .f {
      margin-bottom: 2rem;
    }
  }
  
  @keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}